<input
  class="checkbox"
  type="checkbox"
  name="comprado"
  id="comprado"
  [checked]="item.comprado"
  >
  <!-- Se a minha propriedade item.comprado, for verdadeira ele ira marcar o input como comprado, caso não, não ficara marcado a nossa caixa do checkbox-->
<p class="description">{{item.nome}}</p>
<!-- item editar e excluir somente se este item não tiver marcado como comprado  -->
<div class="d-contents" *ngIf="!item.comprado">
  <fa-icon class="delete-icon" (click)="deletarItem()" [icon]="faTrash" ></fa-icon>
  <fa-icon class="edit-icon" (click)="editarItem()" [icon]="faPen" ></fa-icon>
</div>
<small class="date">{{ item.data }}</small>
